@page "/Lista"

<h3>Lista Elementos</h3>

<ul class = "list-group">
	@foreach (var elemento in elementos)
	{
		<li class = "list-group-item">
			@elemento
		</li>
	}
</ul><br />

<input type="text" @bind="nuevoElemento" placeholder="Nuevo Elemento..." class = "input-group"/><br />
<button @onclick="AgregarElemento" class = "btn btn-primary">Agregar</button>


